@import "../../variables";

.privacy-select {
  position: relative;
  display: inline-block;
  cursor: pointer;

  select {
    display: none;
  }

  .selected {

    &.open .arrow {
      transform: rotate(180deg);
    }

    .selected-text {
      .text {
        display: inline-block;
        width: 25px;
        text-align: center;
      }

      .arrow {
        transition: .25s;
      }
    }
  }

  .options {
    position: absolute;
    z-index: 50;
    top: 100%;
    margin: 0;
    padding: 10px 5px;
    background-color: $backgroundBlue;

    .option {
      display: flex;
      margin: 0 0 5px;
      width: 260px;
      max-width: 100%;
      border-left: 2px solid transparent;

      &.selected, &:hover {
        border-left-color: $highlightColor;
      }

      i {
        flex-basis: 40px;
        margin-top: 2px;
        text-align: center;
      }

      .text {
        flex: 1;

        .name {
          font-weight: bold;
        }

        .description {
          font-size: 0.6em;
        }
      }
    }
  }
}
