@import "./../../variables.scss";

.section.news .inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - #{$headerHeight});
  margin: $headerHeight 0 100px;

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 600px;
    max-width: 100%;
    max-height: 100%;
    padding: 8px 25px;
    margin: 25px;
    background: url("./img/bg-card.png") no-repeat;
    background-size: 100% 100%;
    color: $textColorLight;

    .heading, .read-more {
      margin: 25px 0;
    }

    .heading {
      color: $highlightColor;
    }

    // TODO: Remove, if links are set
    a {
      opacity: 0;
      pointer-events: none;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 25px 0;
        text-transform: uppercase;
        font-size: 0.95em;
        letter-spacing: -.5px;
      }
    }
  }
}
