@import "../../variables";

.view.full-container.registration {
  background: url("./img/BG_Registrierung.png") no-repeat center;
  background-size: cover;

  display: flex;
  align-items: center;
  padding-bottom: 50px;
  color: #fff;

  h1 {
    font-family: "Riffic", serif;
    letter-spacing: 2px;
  }

  .container {
    .alert {
      margin-top: 15px;
    }
    .mail-info {
      color: #c1c1c1;
    }
    span.required {
      color: $highlightColor;
    }
    button {
      margin-top: 20px;
    }
    a {
      color: #c1c1c1;
    }
  }
}
